@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer{

    &__container{
        border-radius: 1.75rem;
        height:10vh;
        width: 100%;
        margin: 1rem;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}