@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search-form {
  &__container {
    margin: 1rem 1rem 0;
  }
  &__group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__input {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 1.75rem;
    border: none;
    margin: 0.5rem 0;
    width: 275px;
    height: 40px;
  }

  &__btn {
    background-color: $blue;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.75rem 1.25rem;
    width: 135px;
    height: 40px;
  }
}
