@use "typography" as *;

// Screen breakpoints

$mobile-width: 375px;

$tablet-width: 768px;

$desktop-width: 1280px;

// font family

// font weights

//Primary Colors

$site-grey: #D9D9D9;
$blue: #2900CB;
$green: #D6FF34;

//Secondary Colors
$yellow: #FAFF00;

//Background Colors

$site-black: #0F0F0F;
$deep-grey:#3E3E3E;

