@use "typography" as *;

// Screen breakpoints

$mobile-width: 375px;

$tablet-width: 768px;

$desktop-width: 1280px;

// font family
$font: "inter";

// font weights
$regular: 400;
$semi-bold: 600;
$bold: 800;

//Primary Colors

$site-grey: #d9d9d9;
$blue: #2900cb;
$green: #d6ff34;

//Secondary Colors
$yellow: #faff00;

//Background Colors

$site-black: #0f0f0f;
$deep-grey: #3e3e3e;
